#SearchContainer{
  Margin-top: 12%;
  Margin-left: 32%;
}

#custom-search-input{
    padding: 1px;
    border: solid 1px #E4E4E4;
    border-radius: 8px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

.fa-heart{
  color:#e74c3c;
}
  [class^="fa fa-star"]{
    color:#f1c40f;
  }
.fa-quote-right{
  font-size:.5em;
  }
section.panel-title{
    padding:15px;
    padding-top:0;
  }
  h4.online:before{
     background-color:green;
      height:10px;
      width:10px;
      border: 2px solid #11f464;
    }
dt{
   text-align:left !important;
    }
    dd{
     margin-left:2% !important;
    }

.panel-footer{
    width:100%;
  	min-height:40px;
  }

  .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 5%;
      background-color: rgba(0,100,255,0.5);
      color: white;
      text-align: center;
  }
